html{
    scroll-behavior: smooth;
}
.webintro{
    padding-top: 6px;
    padding-bottom: 6px;
    background-color:rgb(246, 228, 246);
    /*rgba(53, 31, 51, 0.493);*/
}

.webintro h1{
    font-family: optima;
    font-size: 60px;
    color: rgb(7, 2, 2); 
    font-weight: 200%;
    text-align: center;
}

.name p{
    margin-top: 15px;
    margin-bottom: 85px;
    font-size: 20px;
    font-family: papyrus;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 0px #b9740e;
}
body{
    margin: 0;
    height:100vh;
    position: absolute;
    background-color: rgb(255, 255, 255);
    
}

.background-image {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    /*opacity: 0.35;*/
    height: 115%;
    width: 100%;
    display: inline-block;
    opacity: 0.7;
}
.sec2{
    display: flex;
    /*grid-template-columns: 1fr 1fr;
    grid-gap: 20px;*/
    align-items: center;
    gap: 50px;
    width: 100%;
}
.quote1{
    align-items: center;
    /*max-width: 30%;
    max-height: 50%;*/
    display: inline-block;
    font-size: 100px;
    color: rgb(234, 212, 212);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*background-color: rgb(220, 20, 60,0.2);*/
    transition: 0.7s;
}


.l1,.l2,.l3,.l4{
    margin: 1px;
}
.l1{
    font-size: 30px;
}
.l2{
    font-size: 70px;
}
.l3{
    font-size: 95px;
}
.l4{
    font-size: 120px;
}
.quote1:hover{
    color: rgb(0, 0, 0);;
    
}
.intro{
    margin-left: 420px;
    position: absolute;
    align-items: center;
    width: 300px;
    height: 250px;
    display: inline-block;
    color:rgb(255, 255, 255);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(134, 93, 112, 0.8);
    font-size: 35px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 25px;
    animation-name: s0;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    z-index: 3;
    opacity: 0.8;
    border: 2px solid white;
    box-shadow: rgb(0, 0, 0);
    box-shadow: 0px 0px 30px 1px rgb(0, 0, 0);
}
.slider1{
    margin-left: 420px;
    position: absolute;
    align-items: center;
    width: 300px;
    height: 250px;
    display: inline-block;
    text-align: center;
    font-family: baskerville (serif);
    background-color: rgb(221, 220, 177);
    opacity: 0.8;
    font-size: 35px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 25px;
    background-color:  #9e4b3e;
    animation-name: s1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    z-index: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    border: 2px solid white;
    box-shadow: white;
    box-shadow: 0px 0px 30px 1px rgb(0, 0, 0);
}
.slider2{
    margin-left: 420px;
    position: absolute;
    align-items: center;
    width: 300px;
    height: 250px;
    display: inline-block;
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: baskerville (serif);
    background-color: rgb(221, 220, 177);
    opacity: 0.8;
    font-size: 35px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 25px;
    background-color:rgb(160, 125, 55);
    animation-name: s2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    border: 2px solid white;
    box-shadow: white;
    box-shadow: 0px 0px 30px 1px rgb(0, 0, 0);
}
.slider3{
    margin-left: 450px ;
    font-size: 50px;
    width: 500px;
    height: 100px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: s3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes s3{
    0%{
        margin-left: 450px;
        font-size: 50px;
    }
    40%{
        font-size: 0px;
        opacity: 0;
    }
}

@keyframes s0{
    0%{
        margin-left: 420px;
    }
    50%{
        margin-left: 1150px;
    }
    100%{
        margin-left: 420px;
    }
}

@keyframes s1{
    0%{
        margin-left: 420px;
    }
    50%{
        margin-left: 800px;
    }
    100%{
        margin-left: 420px;
    }

}
@keyframes s2{
    0%{
        margin-left: 420px;
    }
    50%{
        margin-left: 450px;
    }
    100%{
        margin-left: 420px;
    }
}

/*.background-image{
    text-align: center;
    margin-top: -20px;
    margin-bottom: -70px;
    padding-bottom: 0%;
    font-size: 40px;
    color:chocolate;
}*/

.quote2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 70px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: -10px;
    padding-right: -10px;
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
    margin-top: 200px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    text-shadow: #ffffff;
    text-shadow: 1px 1px 12px rgb(196, 190, 190);
   /* box-shadow: 1px 1px 13px 2px #4b4a4a;*/
}
.starter{
    color: rgb(83, 45, 45);
    font-size: 20px;
    text-align: center;
    font-family:cursive;
    /*background-color: #a14972;*/

    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 40px;
}

/*.row1,.row2 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}
*/

/*.r1img2 img {
    width: 100%;
    display: inline-block;
}
*/
.index ul {
    list-style-position: inside;
}
.index{
    margin: auto;
    width: 40%;
    text-align: left;
}
.repcard h3{
    color: #462d6a;
}
.repcard{
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: #dad0ea;
    width: 30%;
    border-radius: 1cm;
    padding: 10px;
    border: 3px solid #462d6a;
    transition: 1s;
}

.repcard:hover{
    box-shadow: 0px 0px 30px 1px rgb(0, 0, 0);
}

.list{
    text-align: center;
}

.row1,.row2,.row3,.row4, .row5{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.img1 ,.img2, .img3,.img4, .img5{
    max-width: 95%;
    max-height: 95%;
    margin-left: 30px;
    height: 400px;
    width: 400px;
}

h3{
    font-size: 400%;
    font-family: 'Times New Roman', Times, serif;
    color:antiquewhite;
    margin-bottom: 2px;
    margin-top: 0%;
}
.des1 ul,.des2 ul,.des3 ul,.des4 ul,.des5 ul{
    display: inline-block;
    color: antiquewhite;
    text-align: left;
}
.des1,.des2,.des3,.des4,.des5{
   
    background-color: rgba(58, 30, 10);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 40px;
    border-radius: 25px;
    transition: 1s;
}
.des1:hover,.des2:hover,.des3:hover,.des4:hover,.des5:hover{
    box-shadow: 0px 0px 15px 1px #a1cdd4;
}
.box1,.box2,.box3,.box4,.box5{
    background-color:rgb(42, 90, 83);
    padding: 25px;
    margin-right: 20px;
   
}
.cakes h2, .doughnuts h2{
    /*background-color: rgb(67, 52, 77);*/
    text-align: center;
    font-size: 80px;
    color: rgb(54, 128, 164);
    font-family:cursive;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 8px #629fd2;
    background-color: #c1dce0;
}
.recipecard{
    position:relative;
    cursor: pointer;
}

.recipecard .face{
    width: 400px;
    height: 200px;
    transition: 0.5s;
    column-gap: 10px;
    
}
.recipecard .face.face1{
    position:relative;
    background: #b4bd60;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    
}
.recipecard:hover .face.face1{
    background-color: #6aaa77;
    transform: translateY(0);
    height: 200px;
}
.recipecard .face.face1 .content{
    opacity: 0.5;
    transition: 0.5s;
}
.recipecard:hover .face.face1 .content{
    opacity: 1;
}
.recipecard .face.face1 .content h4{
    margin: 10px 0 0;
    padding: 0;
    color: #060404;
    text-align: center;
    font-size: 1.5em;
}
.recipecard .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    overflow-x: hidden;
    overflow-y: auto;
}

.recipecard:hover .face.face2{
    transform: translateY(0);
    height: 600px;
}
.recipecard .face.face2 .content p{
    margin: 0;
    padding: 0;
    
}
.recipecard .face.face2 .content ul{
    margin: 0;
    padding: 0;
}
.recipecard.face.face2 .content{
    overflow-x: hidden;
    overflow-y: auto;
}

